<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyze Page</title>
</head>
<body>
    <h2>Analyze Page!!!</h2>
    <p>
        Selected action is <b>{{action_on_txt}}</b> 
        <br/>
        Given input Text is <b>{{input_txt}}</b>
        <br/>
        Analyzed Text is <b><pre>{{final_txt}}</pre></b>
        <br/>
        <!--Punctuations are found <b>{{used_punc}}</b>--->

    </p>
</body>
</html>