<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>Home page!!!</h2>

    <form action="/analyze" method="get">
        <textarea name="input_txt" style="margin: 0px; width: 668px; height: 128px;"></textarea>
        <br/>
        <input type="checkbox" name="removepunc">Remove punctutions
        <br/>
        <input type="checkbox" name="removeextraspace">Remove extra space
        <br/>
        <input type="checkbox" name="fullcap">UPPERCASE
        <br/>
        <button type ="submit" value="Submit">Submit</button>
    </form>

</body>
</html>